{% extends "base.html" %}


{% load static %}

{% block title %}
<title>BBOOM | Список пользователей</title>
{% endblock %}

{% block content %}
<div class="users-block">
    <ol class="users-block__list">
        {% for user in user_list %}
        <li class="users-block__item">
            <article class="user-item__block">
                <div class="user-item__name">
                    <a href="{% url 'apis:users-user-posts' user.id %}">{{ user.id }}</a>
                </div>
            </article>
        </li>
        <hr>
        {% endfor %}
    </ol>
</div>
{% endblock %}
